<ul>
  <% @user.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>

<fieldset>
  <%= form_for @user do |f| %>
  <legend><h1>Sign Up</h1></legend>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :email %>
  <%= f.email_field :email %><br>
  <%= f.label :email_confirmation %>
  <%= f.email_field :email_confirmation %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit %><br>
  <% end %>
</fieldset>
