<!DOCTYPE html>
<html>
<head>
  <title>MyPlate Meal Planner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if @current_user %>
      <%= link_to "Meal Plan", meals_path(@current_user) %>
      <%= link_to "Shopping List", list_meals_path(@current_user) %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Sign Up", signup_path %>
    <% end %>
  </nav>

    <% if !flash.empty? %>
        <% flash.each do |key, value| %><%= value %>
        <% end %>
    <% end %>
    
<%= yield %>

</body>
</html>
